[flake8]
ignore =
	# whitespace in list (for indentation of test sets)
	E201, E241,
	# missing whitespace around arithmetic operator (tests)
	E226,
	# too long lines
	E501,
	# line break before/after binary operator
	W503, W504,
	# module level import not at top of file
	E402,

